body {
  background-color: #1f1e1e;
  color: white;
  overflow: hidden;
}

h1 {
  text-align: center;
}

.todo {
  background-color: #353434;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(26, 25, 25);
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  border-radius: 18px;
  margin-right: 5px;
  padding-left: 8px;
  height: 30px;
}
.todo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(77, 77, 77);
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo-input-item {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todo-input-item input {
  border: none;
  padding: 8px;
  width: 250px;
}

.primary-btn {
  background-color: rgb(0, 230, 122);
  color: white;
  border-radius: 20px;
  border: none;
  margin-top: 25px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: rgb(4, 192, 104);
}

.secondaryBtn {
  background-color: rgb(92, 92, 92);
  color: white;
  justify-content: space-between;
  margin-right: 5px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #414040;
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgb(39, 38, 38);
}

.todo-list-item h3 {
  font-size: 25px;
  color: rgb(0, 230, 122);
  font-weight: bold;
  margin: 0px;
}

::-webkit-scrollbar {
  width: 8px;
  /* border-radius: calc(15px / 2); */
 
}

::-webkit-scrollbar-thumb {
  background-color: #414040;
  /* border-radius: calc(15px / 2); */
 
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  /* border-radius: 10px; */
  background-color: rgb(4, 192, 104);
 
}

/* jhbhjbjh */
/* ndbjdjhb */

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
   -webkit-appearance: none;
    appearance: none;
    background: transparent;
    width: 15rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
   background-color: #053a5f;
   border-radius: 0.5rem;
   height: 0.25rem;  
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -2px; /* Centers thumb on the track */

   /*custom styles*/
   background-color: #2c8de7;
   height: 0.5rem;
   width: 0.5rem;
   border-radius: 50%;
}

input[type="range"]:focus::-webkit-slider-thumb {   
  border: 0.25px solid #053a5f;
  outline: 2px solid #053a5f;
  outline-offset: 0.125rem; 
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
   background-color: #053a5f;
   border-radius: 0.5rem;
   height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
   border: none; /*Removes extra border that FF applies*/
   border-radius: 0; /*Removes default border-radius that FF applies*/

   /*custom styles*/
   background-color: #5cd5eb;
   height: 2rem;
   width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem; 
}